body {
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(10, 0, 10);
    color: white;
  }
  

.header {
  text-align: left; 
  font-size:40px;
  color: white;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.divHeader{
  padding:40px;
}

.buttons {
  text-decoration: none;
  font-size: 20px;
  padding: 5px 20px;
  background-color: black;
  border: none;
  color:white;
  border-radius: 3px;
}

.buttons a{
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button:hover{
  border-bottom: solid 4px rgb(255, 234, 0) !important;
  border-radius: 0px;
}


.active a {
  color: rgb(255, 234, 0) !important;
}c